

.Signcard{

    display: flex;
    flex-direction:column;
    height: 50vh;
    width:40vw;
    margin:auto;
    margin-top:10%;
    padding: 2%;
    background-color:rgb(115, 115, 115);;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color:white;
}

.email{
    display: flex;
    flex-direction:column;
    padding: 2%;
    
}
.password{
    display: flex;
    flex-direction:column;
    padding: 2%;
}
.label{
    
}
.input{
    border:0px;
    border-bottom: 1px solid rgb(143, 142, 142);
    
    background-color: transparent;
    padding: 0.5%;
}

#signbtn{
   margin-top:10% ;
   width: 25%;
   height: 15%;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border: 1px;
   border-radius: 3px;

}